.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3535355f;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: none;
  transition: box-shadow ease-in-out 400ms, background-color ease-in-out 200ms;
}

.itemCompleted {
  box-shadow: -1px -3px 1px #279daa40;
  /* border-top: 2px green solid; */
  background-color: transparent;
  transition: box-shadow ease-in-out 400ms, background-color ease-in-out 200ms;
}

.checkTaskContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.containerCheckbox {
  width: 25px;
  height: 25px;
  border: 3px solid #ffffffc1;
  padding: 3px;
  display: inline-flex;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 42%;
  fill: transparent;
  transition: background-color cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
}

.containerCheckbox:hover,
.containerCheckbox:focus {
  background-color: #ffffff1c;
}

.checkbox {
  display: none;
}

.checkbox:checked + .containerCheckbox {
  fill: #27aa99;
  background-color: transparent;
}

.checkbox:checked:hover + .containerCheckbox {
  background-color: #ffffff1c;
}

.contentActive {
  margin: 0;
  text-align: left;
  word-wrap: break-word;
  text-decoration: none;
  font-size: 14px;
}

.contentCompleted {
  text-decoration: line-through;
  text-align: left;
  font-size: 14px;
}

.btn {
  /* position: relative; */
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  display: flex;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.iconClose {
  fill: white;
}
