.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 500px;
  margin: auto;
  height: 100%;
}

.containerImg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.755),
      rgba(0, 0, 0, 0.658)
    ),
    url("public/assets/forHomePage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
}

.containerForm {
  transform: translateY(-10%);
}

@media (min-width: 768px) and (max-width: 990px) {
  .container {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    height: 90vh;
    min-height: 440px;
    gap: 0;
  }

  .headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .containerImg {
    position: relative;
    min-width: 390px;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .containerForm {
    transform: translate(-10%, 0);
    height: 100%;
    box-shadow: -10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 990px) {
  .container {
    flex-direction: row;
    max-width: 1200px;
  }
  .headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .containerImg {
    position: relative;
    max-width: 100%;
    width: 100%;
    /* min-width: 900px; */
    min-height: 90vh;
  }
  .containerForm {
    transform: translate(-10%, 0);
    min-height: 90vh;
    max-width: 350px;
  }
}
