:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: #1e2328;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  padding: 0;
  margin: 0;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
