.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.containerImg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.755),
      rgba(0, 0, 0, 0.658)
    ),
    url("public/assets/forHomePage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding: 10px;
  border-radius: 20px;
}

.headers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moduleLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #279daa;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 130px;
  margin: auto;
  display: block;
}

.containerNav {
  background-color: #ffffff;
  width: 100%;
  padding: 15px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transform: translateY(-20%);
}

.pIsLoggin {
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
}

/* tablets */

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .containerImg {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.203),
        rgba(0, 0, 0, 0.511)
      ),
      url("public/assets/forHomePage.jpg");
    flex: 1;
    min-height: 250px;
    height: 70vh;
    padding: 0;
    position: relative;
  }

  .headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .containerNav {
    position: static;
    flex: 1;
    min-height: 250px;
    height: 70vh;
    padding: 0;
    justify-content: space-evenly;
    transform: translateX(-10%);
    box-shadow: -10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  }
  .moduleLink {
    width: 200px;
    font-size: 20px;
    margin: auto;
  }
  .pIsLoggin {
    font-size: 20px;
  }
}

/* desktops */

@media (min-width: 991px) {
  .container {
    gap: 0;
  }

  .containerImg {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.099),
        rgba(0, 0, 0, 0.262)
      ),
      url("public/assets/forHomePage.jpg");
    min-height: 90vh;
    max-width: 900px;
    width: 70%;
  }
  .containerNav {
    max-width: 300px;
    min-height: 90vh;
    transform: translateX(-10%);
    box-shadow: -10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  }
}
